/* ---------- MAIN CSS ---------- */
.mnDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.btnContainer {
    width: 100%;
}

/* ---------- Form ---------- */
.frmCntnr {
    width: 100%;
    margin-top: 5%; /*margin-top: 50px;*/
}

/* ---------- Main Form Div ---------- */
.frmMnCntnr {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 2%;
    border-radius: 25px;
    background-color: rgba(0, 150, 255, 0.25);
    /*background-color:rgba(196, 196, 196, 0.5);*/
    box-shadow: 5px 5px 5px #0000006f;
}

/* ---------- Section 1 Main Form Div ---------- */
.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
}

.frmDv {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 40px;
}

.frmDv > .fpDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    border-bottom: 2px dotted; 
}

.input {
    background-color: rgba(196, 196, 196, 0.5);
    border: none;
    border-radius: 10px;
    padding: 5px 15px 5px;
    margin-bottom: 10px;
}

.input:focus {
    outline: none;
    border: 2px solid #0A3072;
}
/* #C4C4C4 */

/* ---------- Buttons Container ---------- */
.editButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
}

.button {
    padding: 10px 30px 10px;
    border-radius: 10px;
    border: none;
    color: #FFF;
    background-color: #002A72;
    transition: background-color 0.2s ease-out;
    margin-left: 1%;
    margin-top: 1%;
}

.button:hover {
    background-color: #D9D9D9;
    color: #000000;
    padding: 10px 30px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.section2 {
    margin-left: 2%;
}

.clubCard {
    background-color: rgba(0, 42, 114, 0.8);
    color: #FFF;
    border-radius: 24px;
    padding: 20px;
}