/* TODO: change to css modules */
main.mn-display {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.btn-container {
    width: 100%;
}

.editButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10%;
}

/* ---------- Form ---------- */
form.frm-cntnr {
    width: 100%;
    margin-top: 50px;
}

/* ---------- Main Form Div ---------- */
main.frm-mn-cntnr {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 25px;
    background-color:rgba(196, 196, 196, 0.5);
}

div.frm-dv {
    margin-left: 2%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 40px;
}

div.frm-dv:last-child {
    margin-left: 10%;
}

div.frm-dv > div.fp-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    border-bottom: 2px dotted; 
}

.input {
    background-color: rgba(196, 196, 196, 0.5);
    border: none;
    border-radius: 10px;

    padding: 5px 15px 5px;
}

.input:focus {
    outline: none;
    border: 2px solid #0A3072;
}
/* #C4C4C4 */
.button {
    background-color: #002A72;
    color: #FFF;
    padding: 10px 30px 10px;
    border-radius: 40px;
    border: none;
    margin-right: 340px;
    transition: background-color 0.2s ease-out;
}

.button:hover {
    background-color: #D9D9D9;
    color: #000000;
    padding: 10px 30px 10px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}