main.mn-display {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.btn-container {
    width: 100%;
}

form.frm-cntnr {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.frm-dv {
    display: flex;
    flex-direction: column;
    align-items: center;
}