/* ---------- Dialog ---------- */
.btnPddngY {
    padding: 10px 20px 10px 20px;
    margin: 20px 20px 10px 20px;
    color: #ffffff;
    background: #002A72;
    border: 1px solid #002A72;
    transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    border-radius: 4px;
}
.btnPddngN {
    padding: 10px 20px 10px 20px;
    margin: 20px 20px 10px 20px;
}

.divPM {
    padding: 20px;
}