:root {
    --tbcntr-border-radius: 0.5rem;
    --bgc-mncnr: rgb(250, 250, 250);
}

/* ---------- Main ---------- */
main {
    display: flex;
    flex-direction: row;
    background-color: var(--bgc-mncnr);
}
/* ---------- SECTION CONTAINER ---------- */
.sectionContainer {
    width: 100%;
}

/* ---------- TABLE CONTAINER ---------- */
.container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    border-radius: 20px;
    padding: 20px;
    /*border: 1px solid #002A72;*/
    /*box-shadow: 5px 5px 5px #0000006f;*/
}

/* ---------- Header content ---------- */
.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

/* ----- Information text ----- */
p.infText {
    width: 10%;
    align-content: center;
    text-align: center;
}

/* ----- Add button ----- */
.addButton {
    background-color: #002A72;
    color: #FFF;
    padding: 10px 30px 10px;
    border-radius: 0.25rem;
    border: none;
    transition: background-color 0.2s ease-out;
}

.addButton:hover {
    background-color: #D9D9D9;
    color: #000000;
    padding: 10px 30px 10px;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

/* ----- Searcher ----- */
.searcher {
    background-color: #002a722c;
    border-radius: 0.25rem;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #021B46;
    padding: 0 20px;
    text-align: center;
    margin-right: 50%;
}

.searcher:focus {
    background-color: #0053e33c;
    border-radius: 0.25rem;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #021b4621;
    padding: 0 20px;
    text-align: center;
    margin-right: 50%;
}

/* ---------- TABLE CONTAINER ---------- */
.tableContainer {
    border-radius: var(--tbcntr-border-radius);
    padding: 20px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.08), /* sombra suave abajo */
        0 0 12px rgba(0, 0, 0, 0.06), /* resplandor general */
        4px 0 10px rgba(0, 0, 0, 0.05), /* derecha */
        -4px 0 10px rgba(0, 0, 0, 0.05); /* izquierda */
}



/* ---------- Table styles ---------- */
.headerTB {
    padding: 10px 15px;
}

.headerTB:last-child {
    justify-items: right;
}

.tableRow td,
.pDatatableThead > tr > th {
    padding: 10px 15px;
}

.tableRow td:last-child {
    justify-items: right;
}

.tableRow:hover {
    background-color: #021b4640;
    cursor: pointer;
    border-radius: var(--tbcntr-border-radius);
}

.tableRow:hover td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tableRow:hover td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ---------- DELETE BUTTON ---------- */
.deleteButton {
    border: none;
    background-color: #FFF;
}

.deleteButton:hover {
    border: none;
    background-color: #C4C4C4;
}

/* ---------- Paginator buttons ---------- */
.paginatorContainer {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagBtn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #002A72;
    color: #FFF;
}