*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --bkgd-clr-register-container: #0A3072;
    --text-colorspv: rgb(255, 255, 255);
}

/* ---------- Background Container ---------- */
.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./../../../assets/Backgrounds/fondo.jpg");
}

/* ---------- Register Container ---------- */
.registerContainer {
    width: 30%;
    height: 300px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.06);
    margin-left: 20px ;
    padding: 20px;
}

/* ---------- Form Style ---------- */
.form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
}

/* ---------- Label Style ---------- */
.label {
    align-self: flex-start;
    color: var(--text-colorspv) !important;
    margin-bottom: 2%;
    margin-top:5%;
    margin-left: 5%;

}


.label:first-child {
    margin-top: 5%;
}


/* ---------- Input Style ---------- */
.inputStyle {
    background-color: rgba(255, 255, 255, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 3px;
    width: 90%;
    height: 36px;
    padding: 12px;
    color: white;
}


.adminImg {
    margin-right: 5px ;
    object-fit: cover;
}


.inputStyle:focus {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #0075ff;
}

/* ---------- Error <p> ---------- */
.errMessage {
    color: red;
    font-size: 65%;
    margin-bottom: 5%;
}

/* ---------- Logging button ---------- */
.logginButton {
    border-radius: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.52);
    width: 90%;
    height: 40px;
    color: white;
    transition: transform 0.1s ease-in-out;
}

.logginButton:hover {
    background-color: #0f98ff;
    transform: scale(1.05); /* Aumenta 5% */
    color: white;
    cursor: pointer;
}

/* ----- FOOTER ----- */
.footer {

    bottom: 0;
    border-bottom-left-radius: 3px;
    height: 280px;

}

/* ----- Img FOOTER ----- */
.img {
    height: 90%;
    margin-top: 1%;
    margin-left: 1%;
}



