/* ---------- ASIDE CSS ---------- */
.aside {
    background: linear-gradient(to bottom, #021b46, #0041ad);
    width: 100px;
    height: 90vh;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside:hover {
    width: 312px;
}
