/* ---------- HEADER CSS ---------- */
header {
    background-color: #021B46;
    height: 87px;
    /* height: 90px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------- Text decoration ---------- */
header > h1, header > div > h2 {
    color: #fff;
}

header > h1 {
    margin-left: 32px;
}

/* ---------- USER PROFILE CSS ---------- */
header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-right: 20px;
}

.picContainer {
    background-color: #D9D9D9;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}