* {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

